:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --primary-font-color: #222222;
    --background-color: #222222;
    --container-primary-color: #0000004d;
}

.black-text-box{
    background-color: rgba(0, 0, 0, 0.5);
}

.green-text-box{
    background-color: rgb(36, 221, 159);
    color: black;
}

.pink-text-box{
    background-color: rgb(248, 173, 248);
    color: black;
}

.red-text-box{
    background-color: rgb(231, 90, 109);
    color: black;
}

.blue-text-box{
    background-color: rgb(91, 152, 243);
    color: black;
}

.yellow-text-box{
    background-color: rgb(240, 243, 91);
    color: black;
}