<nav class="d-flex align-items-center justify-content-between w-100 ps-2 pe-2 border-bottom border-secondary" style="height: 35px; background-color: var(--container-primary-color);">
    <span class="text-light" style="font-size: 0.6875rem;">Welcome {{ user.username }}!</span>
    <div class="d-flex gap-1 align-items-center text-light">
        <span style="font-size: 0.6875rem;">Profile</span>
        <div class="bg-light rounded-5" style="width: 1.25rem; height: 1.25rem;">
            <img src="" alt="">
        </div>
    </div>
</nav>