<nav class="d-flex align-items-center justify-content-between w-100 ps-2 pe-2 border-bottom border-secondary" style="min-height: 40px; background-color: var(--container-primary-color);">
    <span class="text-light w-25" style="font-size: 0.75rem;">Welcome {{ user.username }}!</span>
    <ul class="d-flex gap-2 h-100 align-items-center m-0 text-light list-unstyled" style="font-size: 0.75rem;">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        |
        <li class="nav-item"><a class="nav-link" href="{% url 'friendships' %}">Friendships</a></li>
        |
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm border-0" style="font-size: 0.75rem; background-color: rgb(29, 133, 133); padding: 1px 5px;">Logout</button>
        </form>

    </ul>
</nav>