{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/friendships.css' %}">
    <link rel="shortcut icon" href="{% static '/imgs/memodrop_logo.svg' %}" type="image/x-icon">
    <title>MemoDrop</title>
</head>
<body class="bg-dark d-flex flex-column justify-content-start">
    {% include "partials/_nav.html" %}

    <div class="d-flex align-items-center w-100 text-light border-secondary" style="height: 35px; background-color: rgba(0, 0, 0, 0.25); font-size: 0.9rem;">
        <button onclick="changeSection('friends-section', 'friends-btn')" id="friends-btn" class="p-1 ps-2 pe-2 border-0 border-end bg-transparent text-light active-table-button" style="border-color: rgba(255, 255, 255, 0.2) !important;">
            <p class="m-0">Friends</p>
        </button>
        <button onclick="changeSection('requests-section', 'requests-btn')" id="requests-btn" class="p-1 ps-2 pe-2 border-0 border-end bg-transparent text-light" style="border-color: rgba(255, 255, 255, 0.2) !important;">
            <p class="m-0">Requests Recieved</p>
        </button>
        <button onclick="changeSection('other-users-section', 'other-users-btn')" id="other-users-btn" class="p-1 ps-2 pe-2 border-0 border-end bg-transparent text-light" style="border-color: rgba(255, 255, 255, 0.2) !important;">
            <p class="m-0">Other Users</p>
        </button>
    </div>

    <main class="w-100 h-100 d-flex align-items-center">
        <section class="w-100 h-100 p-0" id="friends-section">

            {% if friendships %}
                <div class="table-responsive w-100" style="background-color: rgba(0, 0, 0, 0.175);">
                    <table class="table table-dark table-striped-columns table-sm m-0">
                        <thead>
                            <tr class="align-middle">
                                <th scope="col">Username:</th>
                                <th scope="col">Full Name:</th>
                                <th scope="col">Friends Since:</th>
                                <th scope="col">Send Memo:</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for friendship in friendships %}
                                {% if friendship.user_1 == request.user %}
                                    <tr>
                                        <td class="align-middle">{{ friendship.user_2.username }}</td>
                                        <td class="align-middle">{{ friendship.user_2.first_name }} {{ friendship.user_2.last_name }}</td>
                                        <td class="align-middle">{{ friendship.created_at|date:"d/m/Y" }}</td>

                                        <td class="text-center align-middle">
                                            <a href="{% url 'memos' friendship.user_2.id %}" 
                                            class="m-auto d-flex align-items-center justify-content-center btn btn-info btn-sm"
                                            style="padding: 0 5px; font-size: 0.8rem; width: fit-content;">
                                                <span>Memos</span>
                                                <i class="fa-solid fa-note-sticky" style="font-size: 0.85rem;"></i>
                                            </a>    
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="align-middle">{{ friendship.user_1.username }}</td>
                                        <td class="align-middle">{{ friendship.user_1.first_name }} {{ friendship.user_1.last_name }}</td>
                                        <td class="align-middle">{{ friendship.created_at|date:"d/m/Y" }}</td>

                                        <td class="text-center align-middle">
                                            <a href="{% url 'memos' friendship.user_1.id %}" 
                                            class="m-auto d-flex align-items-center justify-content-center btn btn-info btn-sm"
                                            style="padding: 0 5px; font-size: 0.8rem; width: fit-content;">
                                                <span>Memos</span>
                                                <i class="fa-solid fa-note-sticky" style="font-size: 0.85rem;"></i>
                                            </a>    
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
            {% else %}
                <div class="d-flex w-100" style="min-height: 375px; background-color: rgba(0, 0, 0, 0.175);">
                    <span class="m-auto text-white-50" style="font-size: 0.875rem;">No friendships yet :(</span>
                </div>
            {% endif %}    
                      
        </section>
        <section class="w-100 h-100 p-0 d-none" id="requests-section">
                        {% if users %}
                            <div class="table-responsive w-100" style="background-color: rgba(0, 0, 0, 0.175);">
                                <table class="table table-dark table-striped-columns table-sm m-0">
                                    <thead>
                                        <tr class="align-middle">
                                            <th scope="col">Username:</th>
                                            <th scope="col">Full Name:</th>
                                            <th scope="col">Request/Accept/Deny:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                            {% if user.pending_request_recieved %}
                                            <tr>
                                                
                                                <td class="align-middle">{{ user.username }}</td>
                                                <td class="align-middle">{{ user.first_name }} {{ user.last_name }}</td>

                                            
                                                
                                                    <td class="text-center align-middle">
                                                        <div class="d-flex justify-content-center">
                                                            <form action="" method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="user_1_id" value="{{ user.id }}">
                                                                <input type="submit" value="Accept Request +" class="rounded-end-0 m-auto d-flex align-items-center justify-content-center btn btn-success btn-sm"
                                                                style="padding: 0 5px; font-size: 0.8rem; width: fit-content;">
                                                            </form>
                                                            <form action="" method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="delete_request" value="">
                                                                <input type="hidden" name="user_1_id" value="{{ user.id }}">
                                                                <input type="submit" value="Deny Request -" class="rounded-start-0 m-auto d-flex align-items-center justify-content-center btn btn-danger btn-sm"
                                                                style="padding: 0 5px; font-size: 0.8rem; width: fit-content;">
                                                            </form>      
                                                        </div>
                                                          
                                                    </td>
                                                    
                                                
                                                    
                                                {% endif %}
                                                
                                            </tr>
                                    
                                        {% endfor %}
                                    </tbody>
                                </table>    
                            </div>   
                        {% else %}
                            <div class="d-flex w-100 h-100" style="background-color: rgba(0, 0, 0, 0.175);">
                                <span class="m-auto text-white-50" style="font-size: 0.875rem;">No pending requests.</span>
                            </div>
                        {% endif %}
                    
            
        </section>
        <section class="w-100 h-100 p-0 d-none" id="other-users-section">
                        {% if users %}
                            <div class="table-responsive w-100" style="background-color: rgba(0, 0, 0, 0.175);">
                                <table class="table table-dark table-striped-columns table-sm m-0">
                                    <thead>
                                        <tr class="align-middle">
                                            <th scope="col">Username:</th>
                                            <th scope="col">Full Name:</th>
                                            <th scope="col">Request/Accept/Deny:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                            
                                            <tr>
                                                
                                                <td class="align-middle">{{ user.username }}</td>
                                                <td class="align-middle">{{ user.first_name }} {{ user.last_name }}</td>

                                                {% if user.pending_request_sent %}
                                                    <td class="text-center align-middle">
                                                        <span class="fst-italic text-info">Pending</span>
                                                    </td>
                                                {% else %}
                                                    <td class="text-center align-middle">
                                                        <form action="" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="user_2_id" value="{{ user.id }}">
                                                            <input type="submit" value="Add Friend +" class="m-auto d-flex align-items-center justify-content-center btn btn-primary btn-sm"
                                                            style="padding: 0 5px; font-size: 0.8rem; width: fit-content;">
                                                        </form>
                                                    </td>
                                                    
                                                {% endif %}
                                                
                                            </tr>
                                    
                                        {% endfor %}
                                    </tbody>
                                </table>    
                            </div>   
                        {% else %}
                            <div class="d-flex w-100 h-100" style="background-color: rgba(0, 0, 0, 0.175);">
                                <span class="m-auto text-white-50" style="font-size: 0.875rem;">No more users found.</span>
                            </div>
                        {% endif %}
                    
            
        </section>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="{% static '/js/friendships.js' %}"></script>
</body>
</html>